.el-table {
  th,
  td {
    padding: 4px 0;
    font-size: 13px;
  }

  th {
    color: #333;
    min-height: 40px;
    border-bottom: 1px solid #bbb !important;

    .cell {
      height: 32px;
      line-height: 32px;
    }

    i {
      color: #333;
    }
  }
}

.el-tabs--border-card {
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.12), 0 0 10px 0 rgba(0,0,0,.04);
}

.el-upload-list {
  .el-upload-list__item {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #909399;  // 进行修改背景和字体
  color: #fff;
}

/* 覆盖element-ui el-dialog弹出动画 */
.el-dialog__wrapper {
  transition-duration: 0.3s;
}
.dialog-fade-enter-active{
  animation: none !important;
}
.dialog-fade-leave-active {
  transition-duration: 0.15s !important;
  animation: none !important;
}

.dialog-fade-enter-active .el-dialog,
.dialog-fade-leave-active .el-dialog{
  animation-fill-mode: forwards;
}

.dialog-fade-enter-active .el-dialog{
  animation-duration: 0.3s;
  animation-name: anim-open;
  animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.dialog-fade-leave-active .el-dialog{
  animation-duration: 0.3s;
  animation-name: anim-close;
}

@keyframes anim-open {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
}
